  <!-- Component: dev
      Descrição: Template da página 'Desenvolvimento' com orientações técnicas.
  -->
  <!-- ===== CONTEÚDO PRINCIPAL ===== -->
  <main class="wiki-main">
    <header class="wiki-main-header">
        <h2>Desenvolvimento</h2>
    </header>

    <section class="wiki-card">

        <h3>Como utilizar o Design System no código</h3>

        <ul>
            <li>Bibliotecas de componentes</li>
            <li>Tokens (cores, tipografia, espaçamento)</li>
            <li>Garantir consistência entre produtos</li>
            <li>Guidelines de comportamento</li>
            <li>Exemplos de uso e boas práticas</li>
        </ul>

        <h3>Vantagens técnicas:</h3>
        <ul>
            <li>Menos CSS repetido</li>
            <li>Componentes padronizados</li>
            <li>Manutenção simplificada</li>
            <li>Código mais limpo e previsível</li>
            <li>Redução de bugs visuais</li>
        </ul>

        <h3>Como contribuir:</h3>

        <ul>
          <li>Abra um ticket descrevendo o problema/melhoria </li>
          <li>Mostre evidências (prints, protótipos, casos reais)</li>
          <li>Sugira soluções quando possível</li>
          <li> Mantenha o padrão de versionamento </li>
        </ul>

        <h3>Responsabilidades do Dev:</h3>

        <ul>
            <li>Utilizar sempre componentes do DS</li>
            <li>Evitar criar componentes paralelos</li>
            <li>Reportar inconsistências</li>
            <li>Seguir tokens oficiais de estilo</li>
        </ul>

    </section>
</main>