/* ---- LAYOUT GERAL ---- */

.wiki-wrapper {
  display: flex;
  overflow: hidden;
}

/* ---- ÁREA PRINCIPAL ---- */

.wiki-main{
  width: 100%;
  height: 100vh;
  margin-left: 24px;
  overflow-y: auto;
  overflow-x: hidden;
}

header{
  width: 100%;
}

/* Scroll customizado do conteúdo principal */
.wiki-main {
  width: 100%;
  height: 100vh;
  margin-left: 24px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* ===== Scrollbar estilizada ===== */
.wiki-main::-webkit-scrollbar {
  width: 6px; /* fininho e moderno */
}

.wiki-main::-webkit-scrollbar-track {
  background: transparent; /* deixa leve */
}

.wiki-main::-webkit-scrollbar-thumb {
  background: #e5d0ff; /* mesma cor da sidebar */
  border-radius: 999px; /* arredondado */
  transition: background 0.25s ease;
}

.wiki-main::-webkit-scrollbar-thumb:hover {
  background: #d3b0ff; /* leve destaque no hover */
}

